@model ICollection<MvcPL.Models.QuestionViewModel>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>

<table>
    <tr>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.ActionLink("Edit question", "Edit", "Question", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>