@model KeyValuePair<string, MvcPL.Models.OptionViewModel>
           
<div>
    
    @Html.Hidden("Options[" + Model.Key + "].Id", Model.Value.Id)
    @Html.Hidden("Options[" + Model.Key + "].QuestionId", Model.Value.QuestionId)

    <div class="form-group">
        <div class="">
            @Html.CheckBox("Options[" + Model.Key + "].IsPicked", Model.Value.IsPicked, new { @class = "checkbox, inline" }) 
            @Html.Label("Options[" + Model.Key + "].Text", Model.Value.Text, new { @class = "control-label"})
        </div>
    </div>
</div>