@model ICollection<MvcPL.Models.TestViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        
        <table class="table table-striped">
            
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Start", "TestPass", "Test", new { id=item.Id }, new { @class = "btn btn-primary", @role = "button"}) 
                        @Html.ActionLink("Edit", "Edit", "Test", new { id = item.Id }, new { @class = "btn btn-primary", @role = "button" })
                        
                    </td>
                </tr>
            }

        </table>

    </body>
</html>